<h1><%= @question.title %></h1>
<div>
  <h3><%= @question.body %></h3>
  <p>-Asked by <%= @question.user.username %></p>
</div>

<ul>
  <% @question.answers.each do |answer| %>
    <li><%= answer.content %></li>
  <% end %>
</ul>

