    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="margs">
        <h1>Answers on da rocks...</h1>
        <p>Get a drink, have a good time now. Welcome to paradise.</p>
        <p><a href="/questions/new" class="btn btn-primary btn-lg" role="button">Ask a question &raquo;</a></p>

      <!-- Example row of columns -->
          <h2>Ask</h2>
          <p>If you know what you don't know, just ask. Maybe someone will help you with an answer.</p>
          <p><a class="btn btn-default" href="/questions/new" role="button">Ask a question &raquo;</a></p>
          <h2>Look</h2>
          <p>Curious to see what questions are being asked? Take a look. Maybe you'll learn something</p>
          <p><a class="btn btn-default" href="/questions" role="button">View Q&As &raquo;</a></p>
          <h2>Answer</h2>
          <p>Share your knowledge with others.</p>
          <p><a class="btn btn-default" href="/questions" role="button">Answer Questions &raquo;</a></p>
    </div>