    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Ask away...</h1>
        <p>Need help? You've come to the right place. Ask questions. Get answers. Share what you've learned.</p>
        <p><a href="/questions/new" class="btn btn-primary btn-lg" role="button">Ask a question &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Ask</h2>
          <p>If you know what you don't know, just ask. Maybe someone will help you with an answer.</p>
          <p><a class="btn btn-default" href="/questions/new" role="button">Ask a question &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Look</h2>
          <p>Curious to see what questions are being asked? Take a look. Maybe you'll learn something</p>
          <p><a class="btn btn-default" href="/questions" role="button">View Q&As &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Answer</h2>
          <p>Share your knowledge with others.</p>
          <p><a class="btn btn-default" href="/questions" role="button">Answer Questions &raquo;</a></p>
        </div>
      </div>
    </div>