/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#question {
  margin-top: 50px;
}
#Q {
  width: 10%;
  font-weight: bold;
  font-size: 2em;
}

.A {
  font-weight: bold;
  font-size: 1.5em;
}

.answer {
}

#sig {
  text-align: right;
}

.em {
  font-weight: bold;
}

.question-list{
  margin-top: 10px;
  font-size: 1.5em;
}

#gravatar {
  padding-top: 5px;
}

.jumbotron {
  background-image: url(sativa.png);
}



.margs {
  background-image: url(sativa.png);
  width: 60%;
  min-width: 500px;
  margin-top: 20px;
  margin-left: 20%;
  margin-bottom: 50px;
  padding: 30px;
  border: 2px solid gray;
  border-radius: 10px;
  padding-bottom: 35px;
  min-height: 400px;
  box-shadow: 4px 4px 3px #000000;
}

.margs h1 {
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

.margs h3 {
  font-size: 1em;
  font-style: italic;
  text-align: center;
}

.margs hr {
  width: 50%;
  color: black;
  border: 1px solid black;
}

.margs h4 {
  text-align: center;
}

.mytitle {
  font-size: 1.5em;
}

.profile-page-entry{
  margin-bottom: 10px;
  padding: 10px;
}

.profile-page-entry blockquote {
  border: 0px;
  margin: 0px;
}

.vote a, p {
  display:block;
  margin: 0 auto;
}

.vote {
  text-align:center;
}

.vote-up-answer {
  text-indent: -9999em;
  font-size: 1px;
  background-image: url('bwup.png');
  width: 41px;
  height: 25px;
}

.vote-down-answer {
  text-indent: -9999em;
  font-size: 1px;
  background-image: url('bwdown.png');
  width: 41px;
  height: 25px;
}

.vote-up-question {
  text-indent: -9999em;
  font-size: 1px;
  background-image: url('bwup.png');
  width: 41px;
  height: 25px;
}

.vote-down-question {
  text-indent: -9999em;
  font-size: 1px;
  background-image: url('bwdown.png');
  width: 41px;
  height: 25px;
}

